.website-analysis {
    font-size: 21px;
    color: $font-color-h2-report;
}

.website-table {
    display: grid;
    max-width: 550px;
    grid-template-columns: 400px 100px;
    grid-template-rows: 60px repeat(5, 64.5px);
    gap: 10px;
    padding: 5px;
    margin-bottom: 40px;
}

.website {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.color-palette {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.colors h3 {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

.website-image {
    grid-column: 1 / 2;
    grid-row: span 5;
}

.amazon-img {
    filter: grayscale(0%);
}

.color1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #131921;
}

.color2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #222f3e;
}

.color3 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #ffdfd8;
}

.color4 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    background-color: #c2ecca;
}

.color5 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background-color: #f3a847;
}

@media screen and (max-width: 628px) {
    .website-table {
        max-width: 450px;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: 60px repeat(4, auto) 60px 85.2px;
        gap: 5px;
        padding: 5px;
        justify-content: center;
        align-content: center;
        margin: 0 auto 40px;
    }

    .website {
        grid-column: span 5;
        grid-row: 1 / 2;
    }

    .color-palette {
        grid-column: span 5;
        grid-row: 6 / 7;
    }

    .website-image {
        grid-column: span 5;
        grid-row: 2 / 6;
        width: 50%;
    }

    .color1 {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        background-color: #131921;
    }

    .color2 {
        grid-column: 2 / 3;
        grid-row: 7 / 8;
        background-color: #222f3e;
    }

    .color3 {
        grid-column: 3 / 4;
        grid-row: 7 / 8;
        background-color: #ffdfd8;
    }

    .color4 {
        grid-column: 4 / 5;
        grid-row: 7 / 8;
        background-color: #c2ecca;
    }

    .color5 {
        grid-column: 5 / 6;
        grid-row: 7 / 8;
        background-color: #f3a847;
    }
}

// LÄGG IN MEDIAQUERY FRÅN 628px
