/** COLOR REPORT */

.main-analysis {
    margin: 0 auto;
    box-sizing: border-box;
    justify-items: center;
}

.analyses {
    display: grid;
    max-width: 900px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 100px, 250px;
    gap: 20px;
    margin: 0 auto 40px;
    padding: 5px;
}

.analyses .sub {
    display: grid;
    background-color: $bg-color-grid-div;
    grid-template-columns: 100%;
    grid-template-rows: 84px auto;
    justify-content: center;
    overflow: hidden;
    border: $border-style-solid-divs;
}

.sub h2 {
    z-index: 1;
}

.analyses .sub {
    .colors-img,
    .load-img,
    .principles-img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: $font-color-titles;
        align-self: center;
    }

    h2 {
        text-align: center;
        background-color: $bg-color-grid-title;
        align-content: center;
        padding: 5px;
    }
}

.analyses h1 {
    grid-column: span 3;
    grid-row: 1 / 2;
    justify-self: center;
}

.analyses .subcontainer.colors {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.analyses .subcontainer.load {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.analyses .subcontainer.principles {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

@media screen and (max-width: 900px) {
    .analyses {
        grid-template-columns: auto;
        grid-template-rows: 100px, repeat(3, 250px);
    }

    .analyses h1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
    }

    .analyses .subcontainer.colors {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .analyses .subcontainer.load {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .analyses .subcontainer.principles {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .analyses .sub {
        a {
            font-size: 5vw;
            text-align: center;
        }

        h2 {
            height: 8vw;
            padding: 1vh;
        }
    }
}

/** LOAD REPORT */
.embed-googlesheet {
    position: relative;
    padding-bottom: 56.25%;
    margin-left: 5%;
    height: 0;
    overflow: auto;
}

.embed-googlesheet iframe,
.embed-googlesheet object,
.embed-googlesheet embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 92.8%;
    height: 78.3%;
    margin: 0;
    padding: 0;
    border: 0;
}

.website-table-load {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 10% 60%;
    margin: 0 auto;
    margin-bottom: 30px;
    gap: 10px;
    place-items: center;
    border: $border-style-double-divs;
    background-color: #bbe2c9;
}

.website-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: $font-color-titles;
}

.ikea {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.fotbollskanalen {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.blocket {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.ikea-image {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    place-items: center;
}

.fotbollskanalen-image {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.blocket-image {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.website-title h3 {
    font-size: $base-font-size * 1.5;
}

.ikea h3,
.fotbollskanalen h3,
.blocket h3 {
    font-size: $base-font-size * 1.3;
    color: $font-color-titles;
}

@media screen and (max-width: 1136px) {
    .website-table-load {
        display: grid;
        grid-template-columns: 10% 1fr;
        grid-template-rows: auto auto auto auto;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .website-title {
        grid-column: span 2;
        grid-row: 1 / 2;
    }

    .ikea {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .fotbollskanalen {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .blocket {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .ikea-image {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        place-items: center;
    }

    .fotbollskanalen-image {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .blocket-image {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .ikea h3,
    .fotbollskanalen h3,
    .blocket h3 {
        font-size: $base-font-size * 1.7;
        transform: rotate(-90deg);
    }
}

/** DESIGN PRINCIPLES REPORT */

@mixin base-container {
    width: 860px;
    gap: 40px;
    @media screen and (max-width: 902px) {
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
}

@mixin principles-container {
    width: 860px;
    @media screen and (max-width: 902px) {
        display: flex;
        flex-direction: column;
        width: 60vw;
    }
}

@mixin home-sub {
    @media screen and (max-width: 902px) {
        width: 60vw;
    }
}

.container {
    display: flex;
    flex-direction: row;
    @include base-container;
}

.principles-elements {
    display: flex;
    flex-direction: row;
    @include principles-container;
}

.homepage,
.subpage {
    width: 50%;
    @include home-sub;
}
