.site-header {
    padding: 2vw;
    font-size: 1.5vw;
}

header .site-header {
    background-color: $background-color;
    display: flex;
    justify-content: space-between;
}

.logo img {
    border-radius: 10px;
    max-width: 20vw;
}

.title a {
    text-decoration: none !important;
}

.title {
    padding-right: 50%;
}

.nav {
    text-align: center;
}

@media screen and (max-width: 713px) {
    .site-header {
        font-size: 10px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo img {
        max-width: 140px;
    }
}