.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    list-style: none;
    font-size: 20px;
}

@keyframes pulsate {
    to {
        transform: scale(0.92);
    }
}

nav ul li {
    padding: 0 1em;
}

nav ul li:hover {
    animation-name: pulsate;
    animation-duration: 0.35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: $bg-color-grid-div;
}

nav a,
.nav-toggle {
    color: $font-color-rest;
}

.nav-toggle {
    display: none;
}

@media (max-width: 797px) {
    .header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
