/* Variables */

/* BACKGROUND COLORS */
// Body
$bg-color-body: #E8FFF1;

// Code and pre
$bg-color-code: #f5f5f5;

// Header & footer (and html)
$bg-color-head-foot: #93AB9C;

// Divs and titles
$bg-color-grid-div: #F5D39D;
$bg-color-grid-title: rgba(249, 220, 201, 0.8);

/* BORDER STYLE */
// Code and pre
$border-style-code: 1px solid #ccc;

// Header & footer
$border-style-head-foot: #333;

// Divs
$border-style-solid-divs: 1px solid #536d6a;
$border-style-double-divs: 2px double #536d6a;

/* FONT COLORS */
// Titles
$font-color-titles: #333;
$font-color-titles-light: rgb(72, 71, 71);

// Rest
$font-color-rest: #333;

/* OTHER COLORS */
// Box shadow
$box-shadow-color: 5px 10px 8px 4px #A8A0A0;

/* SPACING */
$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;

/* OBSOLETE COLORS */
$background-color: #93AB9C;
$background-alternative-color: #E8FFF1;

// Ljust tema: #93AB9C #E8FFF1 #B5F5CD, #F5D39D med inslag av kanske #A8A0A0
// Mörkt tema: #917971 #452B23 #3A4045 med inslag av kanske #91666C