/* Variables */

/* ---------------------------------------------- */

/* BACKGROUND COLORS */
// Body
$bg-color-body: #3a4045;

// Code and pre
$bg-color-code: #917971;

// Header & footer (and html)
$bg-color-head-foot: #917971;

// Divs and titles
$bg-color-grid-div: #2d2224;
$bg-color-grid-title: rgba(249, 220, 201, 0.8);

// Index
$bg-index-divs: rgb(45, 34, 36, 0.6);

/* ---------------------------------------------- */

/* BORDER STYLE */
// Code and pre
$border-style-code: 1px solid #ccc;

// Header & footer
$border-style-head-foot: #333;

// Divs
$border-style-solid-divs: 2px solid #917971;
$border-style-double-divs: 2px double #56362c;

/* ---------------------------------------------- */

/* FONT COLORS */
// Titles
$font-color-titles: #000;
$font-color-titles-light: rgb(72, 71, 71);
$font-color-h2-report: rgb(255, 120, 142);

// Code and pre
$font-color-code: #201e1e;

// Rest
$font-color-rest: rgb(177, 177, 177);

/* ---------------------------------------------- */

/* OTHER COLORS */
// Box shadow
$box-shadow-color: 5px 10px 8px 10px #292929;

/* ---------------------------------------------- */

/* SPACING */
$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;

/* ---------------------------------------------- */

/* OBSOLETE VARIABLES */
$background-color: #93ab9c;
$background-alternative-color: #e8fff1;
