{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <main class="main-analysis">
        <div class="analyses">
            {{ content }}
        </div>
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
