{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <main class="main-gallery">
        <div class="gallery-container">
            {{ content }}
        </div>
        <div class="embed-embed">
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/txqiwrbYGrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
