{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <main class="main">
    <h1>Technologies</h1>
        <div class="landingpage">
            {{ content }}
        </div>
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
