{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <main class="main technology">
        <div class="technology_container">
            <div class="technology_content">
                {{ content }}
            </div>
            <div class="technology_sidebar">
                <p><a href="css">CSS</a></p>
                <p><a href="git">Git</a></p>
                <p><a href="html">HTML</a></p>
                <p><a href="javascript">JavaScript</a></p>
                <p><a href="php">PHP</a></p>
                <p><a href="python">Python</a></p>
                <p><a href="sqlite">SQLITE</a></p>
            </div>
        </div>
    </main>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
